#!/bin/bash

sudo touch /var/log/mysql-daily-backup.log

echo "$(date '+%Y-%m-%d %T') - read credentials" | sudo tee -a /var/log/ami-install.log > /dev/null
secret_values=$(aws secretsmanager get-secret-value \
  --secret-id /infrastructure/credentials/mysql-main \
  --output json)

bkup_username=$(echo $secret_values | jq -rc .SecretString | jq -rc .bkup_user)
bkup_password=$(echo $secret_values | jq -rc .SecretString | jq -rc .bkup_password)

suffix=$(date +"%Y-%m-%d_%H-%M-%S")

echo "$(date '+%Y-%m-%d %T') - write database dump" | sudo tee -a /var/log/ami-install.log > /dev/null
mysqldump --host localhost --user $bkup_username --password="$bkup_password" --all-databases --events --routines --lock-all-tables > /data/backups/mysql_main_prime_dump_$suffix.sql

echo "$(date '+%Y-%m-%d %T') - create zip file" | sudo tee -a /var/log/ami-install.log > /dev/null
zip /data/backups/mysql_main_prime_dump_$suffix.zip /data/backups/mysql_main_prime_dump_$suffix.sql

echo "$(date '+%Y-%m-%d %T') - remove sql text file" | sudo tee -a /var/log/ami-install.log > /dev/null
sudo rm /data/backups/mysql_main_prime_dump_$suffix.sql

echo "$(date '+%Y-%m-%d %T') - prepare meta file" | sudo tee -a /var/log/ami-install.log > /dev/null
touch /data/backups/mysql_main_prime_dump_$suffix.meta.txt
echo "file name: mysql_main_prime_dump_$suffix.zip" >> /data/backups/mysql_main_prime_dump_$suffix.meta.txt
echo "$(ls -l /data/backups/mysql_main_prime_dump_2024-06-26_05-49-46.zip)" >> /data/backups/mysql_main_prime_dump_$suffix.meta.txt
echo "$(openssl dgst -sha1 < /data/backups/mysql_main_prime_dump_2024-06-26_05-49-46.zip)" >> /data/backups/mysql_main_prime_dump_$suffix.meta.txt
echo "$(openssl dgst -sha256 < /data/backups/mysql_main_prime_dump_2024-06-26_05-49-46.zip)" >> /data/backups/mysql_main_prime_dump_$suffix.meta.txt

echo "$(date '+%Y-%m-%d %T') - copy files to S3" | sudo tee -a /var/log/ami-install.log > /dev/null
aws s3 cp /data/backups/ s3://ds-dev-backups/mysql/ --recursive --exclude "*" --include "mysql_main_prime_dump_$suffix.zip" --include "mysql_main_prime_dump_$suffix.meta.txt"

