# GitHub repository intake timer
#

[Unit]
Description=Backup GitHub repositories

[Service]
ExecStart=/usr/bin/python3.12 /backup-scripts/repo_intake.py
