# GitHub repository intake timer
#

[Unit]
Description=Backup GitHub repositories

[Service]
Environment='ASM_KEY=service-backups/github/credentials'
Environment='S3_ACCESS_POINT=tna-external-service-i38re81tu48c7tsxh3ugswpt51e6ceuw2b-s3alias'
ExecStart=/usr/bin/python3.12 /backup-scripts/repo_intake.py
