# mysql database backup timer
#

[Unit]
Description=MySQL Database Backup Timer

[Timer]
Unit=mysql-backup.service
OnCalendar=*-*-* 22:15:00
Persistent=true

[Install]
WantedBy=default.target
